# Database Configuration
DATABASE_URL=

# Server Configuration
PORT=
NODE_ENV=

# Better Auth Configuration
BETTER_AUTH_BASE_URL=
BETTER_AUTH_SECRET=

# MinIO Configuration (for file uploads)
AWS_REGION=
MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=
MINIO_PUBLIC_ENDPOINT=

# Keycloak Configuration
KEYCLOAK_DISCOVERY_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_CALLBACK_URL=

# SMTP (Email) Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
MAIL_FROM=