#Application
DATABASE_URL=
PORT=
NODE_ENV=

#Better-auth
BETTER_AUTH_BASE_URL=
BETTER_AUTH_SECRET=

#S3
AWS_REGION=
MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=
MINIO_PUBLIC_ENDPOINT=

KEYCLOAK_DISCOVERY_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
iTT_KEYCLOAK_CALLBACK_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
# https://myaccount.google.com/apppasswords
MAIL_FROM=
APP_URL=

# Backend
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_AUTH_URI=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PROJECT_ID=
FIREBASE_TOKEN_URI=
FIREBASE_TYPE=
FIREBASE_UNIVERSE_DOMAIN=

NODE_ENV=